

.stats {
    display: flex;
    gap: 1rem;

    .statRow {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: .7rem;
        border-radius: .5rem;
        font-size: .7rem;
        background-color: #111523;

        > span:not(.statValue) {
            color: var(--text-muted);
        }

        .statValue {
            font-size: 1.1rem;
            font-weight: 500;

        }



    }
}





